@mixin clearfix {
    &::after {
        display: table;
        clear: both;
        content: ""
    }
}

@mixin desktop {
    @media (min-width: #{$desktop-width}) {
        @content;
    }
}

@mixin medium {
    @media (min-width: #{$medium-width}) {
        @content;
    }
}

@mixin tablet {
    @media (min-width: #{$tablet-width}) {
        @content;
    }
}

@mixin phablet {
    @media (min-width: #{$phablet-width}) {
        @content;
    }
}

@mixin small {
    @media (min-width: #{$small-width}) {
        @content;
    }
}