// COLOURS

$color-grey: #eee;
$color-grey-light: #fcfcfc;
$color-grey-dark: #bebebe;
$color-black: #131313;
$color-white: #fff;

$spotify-green: #84bd00;
$spotify-grey-solid: #828282;
$spotify-sand-solid: #ecebe8;

$soundcloud-orange:#FF5500;
$soundcloud-dark: #AF1463;

$linkedin: #007AB9;
$mail: #08315F;

$css3: #2AA9E0;
$html: #CB6139;
$js: #F0DB4F;
$gulp: #EB4A4B;
$npm: #CB3837;
$git: #F34F29;
$php: #617CBE;
$sql: #00618B;
$sass: #CC6699;

// DISPLAY SETTINGS

$padding-sections: 10rem 0;

// GRID

$grid-width: 114rem;

// space between the columns
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;

// BREAKPOINTS

$desktop-width: 1211px;
$medium-width: 1088px;
$tablet-width: 987px;
$phablet-width: 783px;
$small-width: 437px;