.header {
    height: 95vh;
    background-image: url('../img/tim-2.jpg');
    background-size: cover;
    background-position: center;

    @include respond-to(small) {
        background-image: url('../img/tim.jpg');
    }

    @include respond-to(small) {
        width: 50%;
    }

    &__text-box {
        color: #fff;
        position: absolute;
        text-align: center;
        top: 40%;
        left: 50%;
        
        transform: translate(-50%, -50%);

        @include respond-to(small) {
            color: #000;
            left: 75%;
        }
    }
}