.btn {

    &:link,
    &:visited {
        text-decoration: none;
        text-transform: uppercase;
        color: color(dark-black);
        display: inline-block;
        border-radius: 10rem;
        padding: 1.2rem 2.2rem;
        font-size: 1rem;
        letter-spacing: .1rem;
        transition: all .2s ease-out;
        animation: moveInBottom 1s ease-out backwards .8s;

        @include respond-to(tiny) {
            padding: 1.5rem 3rem;
            font-size: 1.2rem;
        }

        @include respond-to(small) {
            color: #fff;
        }
    }

    &:hover {
        transform: translateY(-.2rem);
        box-shadow: 0 1rem 2rem rgba(color(dark-black), .4);

        // @include respond-to(small) {
        //     box-shadow: 0 1rem 2rem rgba(color(light-white), .4);
        // }
    }

    &:active {
        transform: translateY(.1rem);
        box-shadow: 0 .5rem 1rem rgba(color(dark-black), .4);
    }

    &--white {
        background-color: #fff;

        @include respond-to(small) {
            background-color: color(dark-black);
        }
    }
}