.link {
    text-decoration: none;
    color: transparent;
    transition: all .2s;
    padding: .3rem 0;

    &--spotify {
        background: linear-gradient(to right, color(spotify-green), color(spotify-sand-solid));
        // Paint the linear-gradient tbackground within the foreground text.
        background-clip: text;
        -webkit-background-clip: text;

        &:hover {
            border-bottom: 2px solid color(spotify-green);
        }
    }

    &--soundcloud {
        background: linear-gradient(to right, color(soundcloud-orange), color(soundcloud-dark));
        background-clip: text;
        -webkit-background-clip: text;
        
        &:hover {
            border-bottom: 2px solid color(soundcloud-orange);
        }
    }
}