// Universal reset.
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    // Base definition for 1 rem, 62.5% of 16px = 10px.
    font-size: 62.5%;
}

body {
    box-sizing: border-box;
}